/* Start phone view */
@media (max-width: 767px){
    .hide-mb-vw{
        display: none !important;
    }
}
/* End phone view */


/* Start tablet view */
@media (min-width: 768px){
    .hide-mb-vw{
        display: none !important;
    }
    .show-mv-bw{
        display: block !important;
    }
}
/* End tablet view */


/* Start desktop view */
@media only screen and (min-width : 1024px){
    .hide-mb-vw{
        display: block !important;
    }
}
/* End desktop view */



.dropdown-menu {
    min-width:130px !important;
}